<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Mapper.TeacherMapper">

    <update id="updateTeacher"  parameterType="Teacher">
        UPDATE teacher
        <trim prefix="set" suffixOverrides=",">
            <if test="id!=null">id=#{id},</if>
            <if test="teacherName!=null">teacher_name=#{teacherName},</if>
<!--            <if test="teacherId!=null">teacher_id=#{teacherId},</if>-->
            <if test="administrationDepartmentId!=null">administration_department_id=#{administrationDepartmentId},</if>
            <if test="workingDepartmentId!=null">working_department_id=#{workingDepartmentId},</if>
            <if test="sex!=null">sex=#{sex},</if>
            <if test="organization!=null">organization=#{organization},</if>
            <if test="workingStatus!=null">working_status=#{workingStatus},</if>
            <if test="phoneNumber!=null">phone_number=#{phoneNumber},</if>
            <if test="remark!=null">remark=#{remark},</if>
            <if test="officeDirector!=null">office_director=#{officeDirector},</if>
        </trim>
        WHERE teacher_id = #{teacherId}
    </update>

    <sql id="selectInformationVo">
select teacher.teacher_name,teacher.phone_number,
			administration_department.administration_department_name,
			job_position.Job_position_name,
			working_department.working_department_name
			from
			teacher,administration_department,job_position,working_department
where
	 teacher.administration_department_id = administration_department.administration_department_id
     and teacher.Job_position_id = job_position.Job_position_id
	 and teacher.working_department_id = working_department.working_department_id
    </sql>

    <select id="selectTeacherDepartment" resultType="com.example.demo.Entity.Teacher">
        <include refid="selectInformationVo"/>

            <if test="administrationDepartmentName != null and administrationDepartmentName != ''">
                and administration_department_name = #{administrationDepartmentName}
            </if>
            <if test="workingDepartmentName != null and workingDepartmentName != ''">
                and working_department_name = #{workingDepartmentName}
            </if>
            <if test="JobPositionName != null and JobPositionName != ''">
                and Job_position_name = #{JobPositionName}
            </if>

    </select>

</mapper>


        <!--    /**-->
        <!--    `-->
        <!--    `working_department_id` int(11)-->
        <!--    `sex` enum('男','女','保密')-->
        <!--    `organization` enum('在编','编外')-->
        <!--    `working_status` enum('在岗','病休')-->
        <!--    `office_id` int(11)-->
        <!--    `Job_position_id` int(11)-->
        <!--    `class_status` enum('校内专任','其他')-->
        <!--    `phone_number` varchar(11)-->
        <!--    `remark` text COLLATE utf8mb4_bin,-->
        <!--    `office_director` enum('教研室主任')*/-->